

.navbar-brand {
  font-family: 'Times New Roman', Times, serif;
  font-size: 25px;
  font-weight: bolder;
  padding: 10px;
  margin-left: 5%;
}

.navbar-toggler {
  background-color: white;
}


.background_container{
    margin:0px; 
    background: rgb(216, 221, 219);

  }
  
  .summary_container {
    color:rgb(89, 168, 144);
    position:relative;
    margin-top: 10px ;
    margin-left: 10px ;
    margin-right: 10px ;
    padding: 5px;
    background:white;
  }

  .visualization_container {
    color:rgb(89, 168, 144);
    position:relative;
    margin-top: 10px ;
    margin-left: 10px ;
    margin-right: 10px ;
    padding: 20px;
    background: white;
  }

.col-sm-2{
  color:rgb(91, 192, 222);
  background-color:rgb(91, 192, 222);
}

p {
    color:black;
}

.text-left {
  color:rgb(91, 192, 222);
  font-family: 'Times New Roman', Times, serif;
  font-size: 45px;
  font-weight: bolder;
  padding: 10px;
}

  

.form-inline>.dropdown{display:inline-block;position:absolute;right:32%;top:40%}
.form-inline>form>.MyButton1{position:absolute;right:15%;display:inline-block;}
.form-inline>form>.MyButton2{position:absolute;right:5%; display:inline-block;}

